
.album-preview-container {
    float:right;
    width: 170px;
}

.album-preview {
    position: fixed;
}

.bandcamp-iframe {
    border: 0;
    width: 170px;
    height: 312px;
}

.some-impressions {
    margin-top: 35px;
    margin-right: 200px;
}

@media (max-width: 1000px) {
    .album-preview-container {
        display: none;
    }

    .some-impressions {
        margin: 0 auto;
    }
}