
.navbar {
    margin-top: 25px;
    margin-bottom: 20px;
    height:25px;
}

.list {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.refs {
    float: right;
}

.link {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.1em;
}
