
.navbar {
    margin-top: 25px;
    margin-bottom: 20px;
    height:25px;
}

ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.refs {
    float: right;
}

a img {
    border: 0 none;
}

.link {
    margin-left: 3px;
    text-decoration: none;
}
